# Backend .NET
pecuaria-csharp/PecuariaApi/bin/
pecuaria-csharp/PecuariaApi/obj/
pecuaria-csharp/PecuariaApi/wwwroot/
pecuaria-csharp/PecuariaApi/*.db
pecuaria-csharp/PecuariaApi/*.db-wal
pecuaria-csharp/PecuariaApi/*.db-shm

# Frontend Node
pecuaria/frontend/node_modules/
pecuaria/frontend/dist/
pecuaria/frontend/.env
